.container {
    margin-top: 20px;

}

.parentEl {
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10px;
    border: 2px solid black;
    background: linear-gradient(90deg, #aea4e3, #d3ffe8);
    box-shadow: 0 5px 15px 5px rgb(0 0 0 / 38%);
}

.tableContainer {
    display: flex;
}

.mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.controlBtns {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #5c758d;
    width: 100%;
}

.search {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
}

.tablePacks {
    margin: 20px;
    min-height: 250px;
    display: flex;
    align-items: center;
}

.pagination {
    flex: 1 1 auto;
    margin-bottom: 10px;
}